body {
 header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
 font-family: Arial;
  margin: 0;
  background-color: #f4f6f8;
}

header {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 25px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.service {
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.service img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
}
