body {
  font-family: Arial;
  margin: 0;
  background-color: #f4f6f8;
}

header {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 25px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
